/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* 📌 Style pour les notifications critiques avec MatSnackBar */
.notif-critique {
    background-color: red !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}
