<div class="main-layout">
  <header class="header">
    <h1 (click)="goToHome()">Quinoa Capteurs</h1>
    <div class="hamburger-menu" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <nav class="nav-links">
      <a href="#"><i class="fas fa-home"></i> Accueil</a>
      <a href="#"><i class="fas fa-info-circle"></i> À propos</a>
      <a href="#"><i class="fas fa-envelope"></i> Contact</a>
    </nav>
  </header>

  <div class="content-wrapper">
    <aside class="sidebar">
      <h3>Capteurs</h3>
      <ul>
        <li>
          <a (click)="selectCapteur('temperature')" [class.active]="selectedCapteur === 'temperature'">
            <i class="fas fa-thermometer-half"></i> Température
          </a>
        </li>
        <li>
          <a (click)="selectCapteur('humidite')" [class.active]="selectedCapteur === 'humidite'">
            <i class="fas fa-water"></i> Humidité
          </a>
        </li>
        <li>
          <a (click)="selectCapteur('bruit')" [class.active]="selectedCapteur === 'bruit'">
            <i class="fas fa-volume-up"></i> Bruit
          </a>
        </li>
        <li>
          <a (click)="selectCapteur('qualiteAir')" [class.active]="selectedCapteur === 'qualiteAir'">
            <i class="fas fa-wind"></i> Qualité de l'air
          </a>
        </li>
      </ul>
    </aside>

    <div class="content" *ngIf="selectedCapteur">
      <h2>{{ selectedCapteurDetails?.title }}</h2>
      <p>{{ selectedCapteurDetails?.description }}</p>

      <div class="graph-container">
        <div class="graph-content">
          <canvas id="capteurChart"></canvas>
          <div class="current-value">
            <h4>Valeur actuelle</h4>
            <p>{{ selectedCapteurDetails?.history[selectedCapteurDetails?.history.length - 1]?.value }} {{ selectedCapteurDetails?.unit }}</p>
          </div>
        </div>
      </div>

      <h3>Historique des données</h3>
      <table class="history-table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Valeur</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of selectedCapteurDetails?.history.slice().reverse()">
          <!-- Affichage de la date et l'heure formatées -->
          <td>{{ data.time | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ data.value }} {{ selectedCapteurDetails?.unit }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
