<div class="chart-container">
  <!-- Température -->
  <h2>Évolution de la Température en Temps Réel</h2>
  <div class="filters">
    <label for="temperature-start-date">Date de début :</label>
    <input
      id="temperature-start-date"
      type="datetime-local"
      [(ngModel)]="temperatureStartDate"
      (change)="applyCustomFilter('temperature')"
    />
    <label for="temperature-end-date">Date de fin :</label>
    <input
      id="temperature-end-date"
      type="datetime-local"
      [(ngModel)]="temperatureEndDate"
      (change)="applyCustomFilter('temperature')"
    />
  </div>
  <div style="position: relative; height: 400px; width: 100%; margin-top: 20px;">
    <canvas
      baseChart
      [data]="lineChartDataTemperature"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
  </div>

  <!-- Humidité -->
  <h2>Évolution de l'Humidité en Temps Réel</h2>
  <div class="filters">
    <label for="humidity-start-date">Date de début :</label>
    <input
      id="humidity-start-date"
      type="datetime-local"
      [(ngModel)]="humidityStartDate"
      (change)="applyCustomFilter('humidity')"
    />
    <label for="humidity-end-date">Date de fin :</label>
    <input
      id="humidity-end-date"
      type="datetime-local"
      [(ngModel)]="humidityEndDate"
      (change)="applyCustomFilter('humidity')"
    />
  </div>
  <div style="position: relative; height: 400px; width: 100%; margin-top: 20px;">
    <canvas
      baseChart
      [data]="lineChartDataHumidity"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
  </div>

  <!-- Bruit -->
  <h2>Évolution du Bruit en Temps Réel</h2>
  <div class="filters">
    <label for="noise-start-date">Date de début :</label>
    <input
      id="noise-start-date"
      type="datetime-local"
      [(ngModel)]="noiseStartDate"
      (change)="applyCustomFilter('noise')"
    />
    <label for="noise-end-date">Date de fin :</label>
    <input
      id="noise-end-date"
      type="datetime-local"
      [(ngModel)]="noiseEndDate"
      (change)="applyCustomFilter('noise')"
    />
  </div>
  <div style="position: relative; height: 400px; width: 100%; margin-top: 20px;">
    <canvas
      baseChart
      [data]="lineChartDataNoise"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
  </div>

  <!-- Qualité de l'air -->
  <h2>Qualité de l'Air (AQI)</h2>
  <div style="position: relative; height: 400px; width: 100%; margin-top: 20px;">
    <canvas
      baseChart
      [data]="gaugeChartDataAirQuality"
      [options]="{ responsive: true, maintainAspectRatio: false }"
      [type]="'doughnut'"
    ></canvas>
  </div>
</div>
